#container {
  width: 100%;
  height: 50vh; /* Atur tinggi sesuai keinginan */
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}


.basemap-gallery {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery.minimized {
  transform: translateX(290px);
}

.basemap-item {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.basemap-item p {
  margin: 0;
}

.basemap-item:hover {
  background-color: #f0f0f0;
}
.gallery {
  display: none; /* Sembunyikan galeri secara default */
}

.gallery.active {
  display: block; /* Tampilkan galeri ketika aktif */
}
